.banner {
  background-image: url('https://i.ibb.co/1zpCRc4/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}
